.listing-show-header
	%h5
		= material_icon.md_24.email.css_class("md-light") 
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card
	%h5 Módulo de mensajes
	%p Aquí podrá gestionar todos los mensajes enviados desde el formulario de contactos, en ella podras leer, buscar y eliminar mensajes de tus visitas, ademas de poder observar los mensajes leidos y no leidos en la bandeja de entrada.