<!DOCTYPE html>
<html>
<head>
  <title>KepplerContactUs</title>
  <%= stylesheet_link_tag    "keppler_contact_us/application", media: "all" %>
  <%= javascript_include_tag "keppler_contact_us/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
